/* src/app/globals.css */
@import '@splidejs/react-splide/css'; 


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.sticky-navbar{
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.first-sec{
  padding: 50px;
}
.mb{
  margin-bottom: 50px;
}
.login-left {
  width: 40%;
  background: #fff;
}
.login-modal {
  border-radius: 15px;
  
  border: none;
  max-width: 700px;
  /* modal width */
}
login-right {
  width: 60%;
  /* halka greenish background */
}

.modal-content {
  padding: 20px;
  background: #f9fff9;
}

.btn-close-custom {
  color: #fff;
  cursor: pointer;
  z-index: 10;
  background: #2ca24c;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 1;
  position: absolute;
  top: -18px;
  right: -17px;
}
.footer {
  background: #f2f2f2;
  padding: 80px 0px;
  color: #000;
}

.footer h3 {
  font-size: 24px;
  color: #000;
}

.footer ul {
  padding-left: 1rem;
}

.footrd ul li {
  padding-bottom: 15px;
  color: #000;
  font-size: 14px;
}

.used {
  margin-left: 30px;
}

.imhg {
  width: 20px;
  height: 20px;
}

.social img {
  margin-right: 10px;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}
